$color-admin: #7367f0;
$color-dash: #00a8e9;
$color-dash-active: #0091ca;


.cursor-pointer{
    cursor: pointer;
}


.v-app-bar{
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important;
}
.v-app-bar--is-scrolled{
    margin-top: 0 !important;
}

.menu-active{
    border-radius: 7px !important;
    color: #fff !important;
    opacity: 1 !important;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.v-list-item--active::before{
    display: none;
}
.v-list-item:hover::before{
    border-radius: 7px !important;
}

.admin .v-navigation-drawer{
    .menu-active{
        background-color: $color-admin !important;
    }
}

.dashboard .v-navigation-drawer{
    .menu-active{
        background-color: $color-dash-active !important;
    }
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateX(2em);
}

.fade-enter-active, .fade-leave-active {
    transition: all 0.2s ease;
}